<div class="panel panel-default animated" *ngIf="item.animateState !== 'removedFromDom'" [ngClass]="{'rubberBand': item.animateState !== 'removed', 'fadeOut': item.animateState === 'removed'}" (click)="item.toggleAnimateState()">
    <div class="panel-heading">
        <span class="text-left">Reference : {{ item.reference }}</span>
        <span class="state-0 pull-right" *ngIf="0 == item.state">A livrer</span>
        <span class="state-1 pull-right" *ngIf="1 == item.state">En cours de livraison</span>
        <span class="state-2 pull-right" *ngIf="2 == item.state">Commande livrée</span>    
    </div>
    <div class="panel-body">
        <p #divRef>Nom du client : {{ item.name | uppercase }}</p>
        <div *ngIf="2 !== item.state">
            Changer le statut : <a href (click)="$event.preventDefault(); item.state = 1" *ngIf="2 !== item.state && 1 !== item.state" data-id="{{ item.reference }}">En cours de livraison</a>
            <span *ngIf="2 !== item.state && 1 !== item.state">/</span>
            <a href (click)="$event.preventDefault(); item.state = 2" *ngIf="2 !== item.state" data-id="{{ item.reference }}">livrée</a>
        </div>
    </div>
</div>